.form-markdown{
    display: flex;
    justify-content: space-between;
}

.form-markdown textarea{
    width: 500px;
    height: 500px;
    /* margin-left: 15px; */
}

.form-markdown .markdown-container{
    border: 1px dashed black;
    width: 500px;
    height: 500px;
}